workflows/book-summaries-daily.json
{
  "name": "Book Summaries - Daily ntfy",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-2222-3333-444455556666",
      "name": "Trigger 8AM Diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "const books = [\n  { id: 1,  title: 'Atomic Habits',                                          author: 'James Clear',             genre: 'Desarrollo personal',   year: 2018 },\n  { id: 2,  title: '12 Rules for Life',                                      author: 'Jordan B. Peterson',      genre: 'Desarrollo personal',   year: 2018 },\n  { id: 3,  title: 'Mindset: The New Psychology of Success',                 author: 'Carol Dweck',             genre: 'Desarrollo personal',   year: 2006 },\n  { id: 4,  title: 'The 5 AM Club',                                          author: 'Robin Sharma',            genre: 'Productividad',         year: 2018 },\n  { id: 5,  title: 'Can t Hurt Me',                                          author: 'David Goggins',           genre: 'Desarrollo personal',   year: 2018 },\n  { id: 6,  title: 'The Compound Effect',                                    author: 'Darren Hardy',            genre: 'Desarrollo personal',   year: 2010 },\n  { id: 7,  title: 'The 7 Habits of Highly Effective People',                author: 'Stephen Covey',           genre: 'Desarrollo personal',   year: 1989 },\n  { id: 8,  title: 'How to Win Friends and Influence People',                author: 'Dale Carnegie',           genre: 'Habilidades sociales',  year: 1936 },\n  { id: 9,  title: 'Man s Search for Meaning',                               author: 'Viktor Frankl',           genre: 'Psicologia',            year: 1946 },\n  { id: 10, title: 'The Power of Now',                                       author: 'Eckhart Tolle',           genre: 'Espiritualidad',        year: 1997 },\n  { id: 11, title: 'Secrets of the Millionaire Mind',                        author: 'T. Harv Eker',            genre: 'Finanzas personales',   year: 2005 },\n  { id: 12, title: 'Rich Dad Poor Dad',                                      author: 'Robert Kiyosaki',         genre: 'Finanzas personales',   year: 1997 },\n  { id: 13, title: 'The Psychology of Money',                                author: 'Morgan Housel',           genre: 'Finanzas personales',   year: 2020 },\n  { id: 14, title: 'The Total Money Makeover',                               author: 'Dave Ramsey',             genre: 'Finanzas personales',   year: 2003 },\n  { id: 15, title: 'The Millionaire Next Door',                              author: 'Thomas J. Stanley',       genre: 'Finanzas personales',   year: 1996 },\n  { id: 16, title: 'I Will Teach You to Be Rich',                            author: 'Ramit Sethi',             genre: 'Finanzas personales',   year: 2009 },\n  { id: 17, title: 'Building a Second Brain',                                author: 'Tiago Forte',             genre: 'Productividad',         year: 2022 },\n  { id: 18, title: 'Deep Work',                                              author: 'Cal Newport',             genre: 'Productividad',         year: 2016 },\n  { id: 19, title: 'Getting Things Done',                                    author: 'David Allen',             genre: 'Productividad',         year: 2001 },\n  { id: 20, title: 'The ONE Thing',                                          author: 'Gary Keller',             genre: 'Productividad',         year: 2013 },\n  { id: 21, title: 'Essentialism: The Disciplined Pursuit of Less',          author: 'Greg McKeown',            genre: 'Productividad',         year: 2014 },\n  { id: 22, title: 'The Snowball: Warren Buffett and the Business of Life',  author: 'Alice Schroeder',         genre: 'Biografia / Finanzas',  year: 2008 },\n  { id: 23, title: 'The Intelligent Investor',                               author: 'Benjamin Graham',         genre: 'Inversion',             year: 1949 },\n  { id: 24, title: 'Poor Charlie s Almanack',                                author: 'Charlie Munger',          genre: 'Inversion / Sabiduria', year: 2005 },\n  { id: 25, title: 'Warren Buffett and the Interpretation of Financial Statements', author: 'Mary Buffett', genre: 'Inversion',             year: 2008 },\n  { id: 26, title: 'Thinking Fast and Slow',                                 author: 'Daniel Kahneman',         genre: 'Psicologia cognitiva',  year: 2011 },\n  { id: 27, title: 'Switch On Your Brain',                                   author: 'Caroline Leaf',           genre: 'Neurociencia',          year: 2013 },\n  { id: 28, title: 'Outliers: The Story of Success',                         author: 'Malcolm Gladwell',        genre: 'Psicologia social',     year: 2008 },\n  { id: 29, title: 'The Body Keeps the Score',                               author: 'Bessel van der Kolk',     genre: 'Psicologia',            year: 2014 },\n  { id: 30, title: 'Influence: The Psychology of Persuasion',                author: 'Robert Cialdini',         genre: 'Psicologia social',     year: 1984 }\n];\nconst idx = Math.floor(Math.random() * books.length);\nreturn [{ json: books[idx] }];"
      },
      "id": "b2c3d4e5-2222-3333-4444-555566667777",
      "name": "Book Summaries DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const book = $input.first().json;\n\nconst systemPrompt = 'Eres un experto en literatura. Creas resumenes detallados en espanol con tono amigable y motivador.';\n\nconst userPrompt = 'Crea un resumen completo del libro \"' + book.title + '\" de ' + book.author + ' (genero: ' + book.genre + '). Incluye:\\n\\n' +\n  '1) Sinopsis en 2 parrafos.\\n\\n' +\n  '2) 10 insights mas importantes priorizados del mas al menos importante. Cada insight debe tener un titulo en negrita y aproximadamente 200 palabras de desarrollo.\\n\\n' +\n  '3) Expande en 500 palabras los argumentos en contra y a favor de estos insights de forma especifica: no argumentos genericos del libro sino tensiones reales, criticas academicas o practicas, contraejemplos documentados y defensas solidas. Cita autores, estudios o casos concretos cuando sea posible.\\n\\n' +\n  '4) Para cada insight, dame dos ejercicios practicos y aplicables a la vida cotidiana. Cada ejercicio debe tener: Nombre, Objetivo en una linea, Instrucciones paso a paso (maximo 5 pasos), Frecuencia sugerida y una Metrica simple para saber si esta funcionando.\\n\\n' +\n  '5) Por que leerlo.\\n\\n' +\n  'Contexto sobre mi para personalizar los ejercicios: soy Alejandro, edad 43, casado con Gina por mas de 25 anos con dos hijos Mia y Alejandro Nicolas. Tengo mas de 15 anos de experiencia laboral en banca y consultoria focalizado en estrategia, finanzas y transformacion. Adicionalmente soy docente de MBA en la Universidad Iberoamericana en la Republica Dominicana. Me interesa aprender sobre como aplicar la IA para ser mas productivo, eficaz y eficiente en todo lo que haga.';\n\nreturn [{\n  json: {\n    book,\n    groqPayload: {\n      model: 'llama-3.3-70b-versatile',\n      messages: [\n        { role: 'system', content: systemPrompt },\n        { role: 'user',   content: userPrompt   }\n      ],\n      temperature: 0.75,\n      max_tokens: 6000\n    }\n  }\n}];"
      },
      "id": "c3d4e5f6-3333-4444-5555-666677778888",
      "name": "Preparar Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer ${GROQ_API_KEY}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.groqPayload) }}",
        "options": { "timeout": 90000 }
      },
      "id": "d4e5f6a7-4444-5555-6666-777788889999",
      "name": "Groq AI Resumen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "const book = $('Preparar Request').first().json.book;\nconst aiResult = $input.first().json;\nif (!aiResult.choices || !aiResult.choices[0]) throw new Error('Groq error: ' + JSON.stringify(aiResult));\n\nconst summary = aiResult.choices[0].message.content.trim();\nconst today = new Date().toLocaleDateString('es-ES', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });\nconst fecha = today.charAt(0).toUpperCase() + today.slice(1);\nconst NL = String.fromCharCode(10);\n\n// Encabezado del primer mensaje\nconst header = '📚 ' + book.title + NL + '✍️ ' + book.author + NL + '🏷️ ' + book.genre + NL + '📅 ' + fecha + NL + '─────────────────────';\n\n// Dividir el summary en parrafos y agrupar en chunks de max 3500 chars\nconst paragraphs = summary.split(NL + NL);\nconst CHUNK_SIZE = 3500;\nconst chunks = [];\nlet current = '';\n\nfor (const para of paragraphs) {\n  const candidate = current.length === 0 ? para : current + NL + NL + para;\n  if (candidate.length > CHUNK_SIZE && current.length > 0) {\n    chunks.push(current.trim());\n    current = para;\n  } else {\n    current = candidate;\n  }\n}\nif (current.trim().length > 0) chunks.push(current.trim());\n\nconst total = chunks.length;\n\n// Primera parte lleva el encabezado\nconst results = chunks.map((chunk, i) => {\n  const partLabel = '[' + (i + 1) + '/' + total + '] ' + book.title;\n  const body = i === 0 ? header + NL + NL + chunk : chunk;\n  return { json: { ntfyTitle: partLabel, message: body, part: i + 1, total } };\n});\n\nreturn results;"
      },
      "id": "e5f6a7b8-5555-6666-7777-888899990000",
      "name": "Dividir en Partes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "jsCode": "const chunks = $input.all();\nconst TOPIC = 'amaceo-books-resumen';\nconst DELAY_MS = 3000;\nconst results = [];\n\nfor (let i = 0; i < chunks.length; i++) {\n  const item = chunks[i].json;\n\n  const response = await fetch('https://ntfy.sh/' + TOPIC, {\n    method: 'POST',\n    headers: {\n      'Title':        item.ntfyTitle,\n      'Priority':     'default',\n      'Tags':         'books,green_book',\n      'Content-Type': 'text/plain; charset=utf-8'\n    },\n    body: item.message\n  });\n\n  const status = response.status;\n  results.push({ json: { part: item.part, total: item.total, status } });\n  console.log('Enviado ' + item.part + '/' + item.total + ' — HTTP ' + status);\n\n  // Esperar entre mensajes para evitar rate limiting\n  if (i < chunks.length - 1) {\n    await new Promise(resolve => setTimeout(resolve, DELAY_MS));\n  }\n}\n\nreturn results;"
      },
      "id": "f6a7b8c9-6666-7777-8888-999900001111",
      "name": "Enviar ntfy",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Trigger 8AM Diario": {
      "main": [[ { "node": "Book Summaries DB", "type": "main", "index": 0 } ]]
    },
    "Book Summaries DB": {
      "main": [[ { "node": "Preparar Request",  "type": "main", "index": 0 } ]]
    },
    "Preparar Request": {
      "main": [[ { "node": "Groq AI Resumen",   "type": "main", "index": 0 } ]]
    },
    "Groq AI Resumen": {
      "main": [[ { "node": "Dividir en Partes", "type": "main", "index": 0 } ]]
    },
    "Dividir en Partes": {
      "main": [[ { "node": "Enviar ntfy",       "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "staticData": null,
  "meta": { "instanceId": "book-summaries-daily-v6" },
  "id": "book-summaries-daily",
  "tags": [ { "name": "books" }, { "name": "ntfy" }, { "name": "daily" } ]
}
